@model FlightsChecking.CommonLibrary.Models.Product

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
  <hr/>
  <dl class="dl-horizontal">
    @Html.HiddenFor(model => model.Id)
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>    
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Description)
    </dt>    
    <dd>
      @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.AgeRestriction)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.AgeRestriction)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Company)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Price)
    </dd>
  </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
